@layout LoginLayout
@page "/register"


<PageTitle>Index</PageTitle>

<div class=" center">
    <table>
        <tr>
            <td style="text-align:center;">
                <h3>Register</h3>
            </td>
        </tr>
        <tr>
            <td style="test-align:center;">
                <label for="fname">Email:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname"> Password:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <input type="submit" value="Submit">
                

            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <a href="register"><div id="btn2">Register</div></a>
            </td>
        </tr>
    </table>
</div>

